

body {
   
    background:#e4e6eb;
   
}

.content-box{

    min-height: 100%;
}

.spinner-border{

    height: 5rem;
    width: 5rem;
    min-height:100%;
} 
#search-bar{

    border-color: blue;
    border-width: 2px;
    font-family: 'Ubuntu', sans-serif;
}
#card-templete{

    display:none;
}


h1, h5, h2{

    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Bebas Neue', cursive;

}

.card-title{

    font-size: 1.6rem;
}


.disabled{

    display: none;
}

 .title{
    color: white;
    background-color:black;
    padding: 5px;
    font-size : 2rem;
}

h5 , h2{
    display:inline;
    color: black;
   
    
}

.top-logo{

    display: flex;
}

.logo{

   height: 60px; 
   width: 60px;
    
    color:black;
    padding: 5px;

}

.card a{

    font-family: 'Bebas Neue', cursive;
}

.card{
 
     margin: 10px 10px 10px 10px;
     width: 12rem;
     height: 16rem;
     border-color: black;
}

.card:hover{
    box-shadow: 5px 5px #474644;
    background-color: rgba(0, 0, 0, 0.01);
  
}


.card-icon {

   font-size: 50px;
    padding-top: 10px; 
    text-align: center;
    
}

footer{
    text-align:center; 
    background-color: #faf5f5;
    width: 100%;
    bottom:0;
    
}


@media (min-width: 600px) {

    
footer{
      position: fixed;
      bottom: 0;
     
    }


  }

